{% load static %}
<div class="card">
    <div class="card_header">
        <img src="https://via.placeholder.com/32x32" alt="profileimage">
        <a href="#">
            <span class="card_user-name">likelion.official</span>
        </a>
    </div>
    <div class="card_body">
        <div>
            <img class="card_image" src="https://via.placeholder.com/600x600">
        </div>
    </div class -="card_btn-group">
    <div>
        <img class="card_btn" src="{% static 'icons/like.png'%}" alt="like">
        <img class="card_btn" src="{% static 'icons/comment.png'%}" alt="comment">
        <img class="card_btn" src="{% static 'icons/share.png'%}" alt="share">
    </div>
    <div>
        <img class="card_btn" src="{% static 'icons/bookmark.png'%}" alt="bookmark">
    </div>
</div>
<div class="card_content">
    <span class="card_like-num">좋아요 00개</span>
    <div class="card_main-text">
        <p><span class="card_user-name">likelion.official</span>{{"갸라랄라랄랑아우 귀찮아 가나다ㅏ라마바서아자차카타파ㅏ하
            "|truncatechars:10}}</p>
    </div>
    <div>
        <p>댓글 0개 모두 보기ㄴ</p>
        <ul class="card_comment-group">
            <li>
                <p><span class="card_user-name">likelion.official</span></p>
            </li>
        </ul>
        <p class ="card_created-at"> 2023년 7월 </p>
    </div>
</div>
<div class="card">
    <div class="card_header">
        <img src="https://via.placeholder.com/32x32" alt="profileimage">
        <a href="#">
            <span class="card_user-name">likelion.official</span>
        </a>
    </div>
    <div class="card_body">
        <div>
            <img class="card_image" src="https://via.placeholder.com/600x600">
        </div>
    </div class -="card_btn-group">
    <div>
        <img class="card_btn" src="{% static 'icons/like.png'%}" alt="like">
        <img class="card_btn" src="{% static 'icons/comment.png'%}" alt="comment">
        <img class="card_btn" src="{% static 'icons/share.png'%}" alt="share">
    </div>
    <div>
        <img class="card_btn" src="{% static 'icons/bookmark.png'%}" alt="bookmark">
    </div>
</div>
<div class="card_content">
    <span class="card_like-num">좋아요 00개</span>
    <div class="card_main-text">
        <p><span class="card_user-name">likelion.official</span>{{"갸라랄라랄랑아우 귀찮아 가나다ㅏ라마바서아자차카타파ㅏ하
            "|truncatechars:10}}</p>
    </div>
    <div>
        <p>댓글 0개 모두 보기ㄴ</p>
        <ul class="card_comment-group">
            <li>
                <p><span class="card_user-name">likelion.official</span></p>
            </li>
        </ul>
        <p class ="card_created-at"> 2023년 7월 </p>
    </div>
</div>
<div class="card">
    <div class="card_header">
        <img src="https://via.placeholder.com/32x32" alt="profileimage">
        <a href="#">
            <span class="card_user-name">likelion.official</span>
        </a>
    </div>
    <div class="card_body">
        <div>
            <img class="card_image" src="https://via.placeholder.com/600x600">
        </div>
    </div class -="card_btn-group">
    <div>
        <img class="card_btn" src="{% static 'icons/like.png'%}" alt="like">
        <img class="card_btn" src="{% static 'icons/comment.png'%}" alt="comment">
        <img class="card_btn" src="{% static 'icons/share.png'%}" alt="share">
    </div>
    <div>
        <img class="card_btn" src="{% static 'icons/bookmark.png'%}" alt="bookmark">
    </div>
</div>
<div class="card_content">
    <span class="card_like-num">좋아요 00개</span>
    <div class="card_main-text">
        <p><span class="card_user-name">likelion.official</span>{{"갸라랄라랄랑아우 귀찮아 가나다ㅏ라마바서아자차카타파ㅏ하
            "|truncatechars:10}}</p>
    </div>
    <div>
        <p>댓글 0개 모두 보기ㄴ</p>
        <ul class="card_comment-group">
            <li>
                <p><span class="card_user-name">likelion.official</span></p>
            </li>
        </ul>
        <p class ="card_created-at"> 2023년 7월 </p>
    </div>
</div>
</div>



